{{ define "inicio" }}
{{ template "cabecera" }}
    
     <a name="" id="" class="btn btn-primary" href="/crear" role="button">Agregar empleados</a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td> Modavidc el poderoso </td>
                <td> moisesdavidc@gmail.com </td>
                <td>Editar | Borrar </td>
            </tr>
            
        </tbody>
    </table>
{{ template "pie" }}
{{end}}