{{ define "inicio" }}
{{ template "cabecera" }}
    //Boton para agregar empleados 
     <a name="" id="" class="btn btn-primary" href="/crear" role="button">Agregar empleados</a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    {{ range.}}
            <tr>
                <td> {{.Id}} </td>
                <td> Modavidc el poderoso {{.Nombre}} </td>
                <td> moisesdavidc@gmail.com {{.Correo}} </td>
                <td>Editar {{.Id}} | Borrar {{.Id}} </td>
            </tr>
    {{end}}
            
        </tbody>
    </table>
{{ template "pie" }}
{{end}}